Flask<2.2.0
Flask-RESTful
Flask-JWT-Extended
Flask-SQLAlchemy
Marshmallow
Flask-Marshmallow
Marshmallow-SQLAlchemy
Python-Dotenv
Flask-Uploads
Flask-Migrate
Flask-OAuthlib
psycopg2-binary
Werkzeug==2.0.0